@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>aqui vai ser o local do questionario</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veritatis deleniti obcaecati tenetur saepe nesciunt hic quisquam! Modi ducimus laboriosam ex eos reprehenderit, nihil quod. Laudantium a quasi nulla consequuntur!</p>